/* botnes.css */

@import 'variables.css';

.botones-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  /* Agrega aquí cualquier estilo adicional que necesites para este contenedor */
}

.boton-carusel {
  width: 10px;
  height: 15px;
  border: 2px solid white; /* Ajusta el tamaño y el color del borde */
  border-radius: 50%;
  background-color: transparent; /* Establece el color de fondo como transparente */
  cursor: pointer;
  transition: background-color 0.3s ease;
  opacity: 0.8;
  margin: 0 2px;
}

.boton-carusel.active {
  background-color: var(--blanco); /* Corregir el nombre de la variable */
}
