/* Estilos para el icono del menú hamburguesa */
.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px; /* Ajusta la posición a la derecha según sea necesario */
}

.menu-icon-line {
  width: 100%;
  height: 2px;
  background-color: var(--blanco);
  transition: all 0.3s ease;
}

.menu-icon-line.open:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.menu-icon-line.open:nth-child(2) {
  opacity: 0;
}

.menu-icon-line.open:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

/* Estilos para pantallas más grandes (PC) */
@media (min-width: 1025px) {
  .menu-icon {
    display: none;
  }
}

/* Estilos para tablet y teléfono (menú hamburguesa) */
@media (max-width: 1025px) {
  .menu {
    display: none;
  }
  .menu.show {
    display: block;
  }
}

/* Estilos para PC */
@media (min-width: 1025px) {
  .additional-links {
    text-align: right; /* Mantener los enlaces alineados a la derecha en PC */
  }

  .additional-links ul {
    padding: 0;
  }

  .additional-links ul li {
    display: inline-block; /* Mantener los enlaces en línea en PC */
    margin-right: 15px;
    font-weight: bold;
    font-family: var(--font-links);
  }

  .additional-links ul li:hover {
    transform: scale(1.2); /* Aumentar la escala al pasar el ratón */
  }

  .additional-links ul li a {
    text-decoration: none;
    color: var(--blanco); /* Color del texto */
  }
}
/* Resto de tu CSS */

.additional-links ul li a {
  text-decoration: none;
  color: var(--blanco); /* Color del texto */
}
