/* Estilos para el icono del menú hamburguesa */
.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
}

.menu-icon-line {
  width: 100%;
  height: 3px;
  background-color: var(--blanco);
  transition: all 0.3s ease;
}

.menu-icon-line.open:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.menu-icon-line.open:nth-child(2) {
  opacity: 0;
}

.menu-icon-line.open:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

/* Estilos comunes para tablet y teléfono, y PC */
.additional-links {
  position: relative;
  z-index: 1;
  text-align: right;
  margin-top: 20px;
}

.additional-links ul {
  padding: 0;
}

.additional-links ul li a {
  text-decoration: none;
  color: var(--blanco);
}

/* Estilos para tablet y teléfono */
@media (max-width: 1024px) {
  .additional-links {
    padding: 5px;
  }

  .additional-links ul li {
    margin: 10px 0;
    list-style-type: none;
  }

  .additional-links ul li a {
    text-decoration: none;
    color: var(--blanco);
    display: inline-block;
    transition: transform 0.3s ease; /* Agrega transición para suavizar el cambio */
  }

  .additional-links ul li a:hover {
    color: red;
    transform: scale(1.2);
  }
}

/* Estilos para PC */
@media (min-width: 1025px) {
  .menu-icon {
    display: none;
  }

  .additional-links {
    text-align: right;
  }

  .additional-links ul li{
    display: inline-block;
    margin-right: 15px;
    font-weight: bold;
    font-family: var(--font-links);

  }
  .additional-links ul li a{
    display: inline-block;
    transition: transform 0.3s ease;
  }

  .additional-links ul li a:hover {
    color: red;
    transform: scale(1.2);
  }

}

@media (max-width: 1025px) {
  .menu {
    display: none;
  }
  .menu.show {
    display: block;
  }
}
