:root {
  /* color */
  --carrusel-btn-color: #ffffff57;
  --carruselon-btn-color: #ffffff;
  --font-color-blanco:#ffffff;

  /* font */

  --font-titulos: 'izmir', sans-serif;
  --font-links: 'lato', sans-serif;
}
